body{
  background-color: white;
  font-family: 'Lucida Grande', sans-serif;
}
.errorlist {
  font-size: 0.7em;
}

h1 {
  text-align: center;
}

.butters {
  display: block; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
